* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter {
    /* filter: blur(5px); */
    transition: all 1s;
    /* filter: grayscale(1); */
    /* filter: opacity(.5); */
    opacity: 0.5;
}

.filter:hover {
    filter: blur(0);
}

img {
    max-width: 100%;
}

.container {
    padding-top: 2rem;
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 2);
    padding: .5rem;
}

.col img {
    position: relative;
    filter: blur(10px) grayscale(1);
    transition: all .3s;
}

.col img:hover {
    filter: blur(0) grayscale(0);
    transform: scale(1.2) rotate(25deg);
    z-index: 100;
}